<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Provider>
    <parameters>
      <add xdt:Transform="Replace" key="rootUrl" value="http://rifielumbracostage.blob.core.windows.net/"/>
      <add xdt:Transform="Replace" key="connectionString" value="8+VfPzCtabvCevpUi0B3I++CcSWXH34VGa6/ovyXgJ3TtCHcyV5Yvzy8suhTSuwNDJSh8Ckt4wOnY6VTo7l3dw=="/>
    </parameters>
  </Provider>
</configuration>