<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="umbracoDbDSN" />
    <!-- 
      DO NOT rename or edit this file, it is used by the release pipeline.
      Create a ConnectionStrings.config file with the correct value for localhost development.
    -->
    <add name="umbracoDbDSN" connectionString="__umbracoDbDSN__" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
